<div class="navbar navbar-dark bg-dark">
<div class="container-fluid">
    <a href="/" class="navbar-brand">
        <img src="/public/images/imgshare-logo.png" alt="imgShare">

    </a>
</div>
</div>